/*footer styling*/
footer{
    background: #000000;
    color: #ffffff;
    width: 94%;
    margin: 0 auto;
    margin-top: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2vw 3vw 5vh;
    gap: 10vh;
}
#footerNav{
    display: flex;
    flex-direction: column;
    gap: 2vw;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1vw;
}
#subscribe{
    display: flex;
    align-items: stretch;
}
#subscribe input{
    border: 1px solid #fca311;
}
#rightFoot{
    display: flex;
    flex-direction: column;
    gap: 1vh;
    align-items: center;
}
footer img{
    height: 60vw;
    width: 80vw;
}
footer a{
    text-decoration: none;
    color:#e5e5e5;
}
#contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
}
#subButton{
    background-color: #fca311;
    box-sizing: content-box;
    text-align: center;
    vertical-align: middle;
    padding: 10px 20px;
}

@media only screen and (min-width:768px){
    footer{
        width: 94%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1vw 3vw;
        gap: 0;
    }
    #rightFoot{
        gap: 5px;
        align-items: unset;
    }
    #footerNav{
        flex-direction: row;
    }
    footer img{
        height: 10vw;
        width: 16vw;
    }
}