header{
    top: 0;
    position: fixed;
    background-color: #ffffff;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px 5px 2px;
    z-index: 4;
}


.bars{
    height: 2px;
    width: 5vw;
    background-color: #14213d;
    border: none;
}
.menu{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
/*navBar styling*/
.nav{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    top: 6vh;
    right: 0;
    gap: 3vw;
    position: absolute;
    width: 100%;
    background-color: #ffffff;
}
.nav a{
    text-decoration: none;
    color: #000000;
}
/*search input styling*/
#searchBox{
    display: none;
    align-items: center;
    justify-content: flex-start;
}
#searchInput{
    background-color: #e5e5e586;
    border: none;
    border-radius: 1.5vw;
    height: 4vw;
}
#searchBox img{
    height: 4vw;
    width: 4vw;
    position: relative;
    left: -5vw;
}
/*icon styling*/
#iconDiv img{
    height: 10vw;
    width: 10vw;
}
#iconDiv{
    display: flex;
    align-items: center;
    gap: 2px;
    position: relative;
}
#iconDiv h1{
    font-size: 12px;
    position: relative;
    left: -2.5vw;
    margin-bottom: 0;
}
@media only screen and (min-width:768px){
    .menu{
        display: none;
    }
    .nav{
        display: flex;
        background-color: none;
        flex-direction: row;
        gap: 2vw;
        position: relative;
        align-items: unset;
        width: unset;
        top: 0;
        right: 0;
        margin-bottom: 0;
    }
    #searchInput{
        height: 1.5vw;
    }
    #searchBox{
        display: flex;
        gap: 0.5vw;
        justify-content: space-between;
    }
    #searchBox img{
        height: 2vw;
        width: 2vw;
        position: unset;
        left: 0;
    }
    #iconDiv img{
        height: 6vw;
        width: 6vw;
    }
    #iconDiv h1{
        left: -1.5vw;
        font-size: 24px;
    }
}