*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    grid-area: header;
}
footer {
    grid-area: footer;
}
body{
    width: 100%;
    background-color: #ffffff;
    display: grid;
    grid-template-areas: 
    'header header header header header'
    'main main main main main'
    'main main main main main'
    'main main main main main'
    'main main main main main'
    'main main main main main'
    'footer footer footer footer footer';
}

.active{
    display: flex;
}

/*Aside styling*/
aside{
    position: fixed;
    margin-top: 10vh;
    background-color: #14213d;
    color: #ffffff;
    padding: 4vw;
    display: none;
    grid-area: main;
    width: 75%;
    height: 100%;
    overflow-y: auto;
    z-index: 4;
}
aside > div{
    margin-top: 2vw;
    padding:0 3vw;
}
aside > div li{
    font-size: 14px;
    margin-top: 5vw;
}
#closeButton{
    float: right;
    display: block;
    background-color: #ffffff;
    border-radius: 50%;
    padding: 0.5vw;
    color:#000000;
}
/*main styling*/
main{
    grid-area: main;
    margin-top: 10vh;
    width: 100%;
    flex-direction: column;
    gap: 2vh;
    padding: 2vw 6vw;
    display: flex;
}
.videos{
    width: 100%;
    height: 315px;
    align-self: center;
    justify-self: center;
    margin: 3vw auto;
}
.halfImg{
    width: 90%;
    height: auto;
    margin: 3vw auto;
    object-fit: contain;
}
.startImg{
    width: 90%;
    align-self: center;
    margin: 0 auto;
}
.div-img-achieve{
    display: grid;
    position: relative;
    grid-template-columns: 0.25fr 1fr 1fr 0.25r;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 50vh;
}
.div-img-achieve::before{
    content: '';
    position: absolute;
    top: 0;
    left: 5%;
    width: 90%;
    margin: 0 auto;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
#getStartHead{
    grid-column: 2/4;
    grid-row: 2/4;
    text-align: center;
    color: #ffffff;
    z-index: 2;
    padding: 0 3vw;
}
#getStartImg{
    grid-column: 1/5;
    grid-row: 1/4;
    height: 50vh;
}
.hover{
    width: 80%;
    margin: 0 auto;
    position: fixed;
    bottom: 5vh;
    background: rgba(252, 163, 17, 0.6);
    border: 0.5px solid #fca311;
    backdrop-filter: blur(10.4px);
    box-shadow: 0 2px 1.5px 1px #fca31133;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 1.5vw;
    border-radius: 2vw;
    align-self: center;
}
.hoverIcon{
    height: 8vw;
    width: 8vw;
    border-radius: 50%;
    padding: 0.5vw;
    background: #fca21113;
    box-shadow: 1px 1px 25px #fca31186, 1px 1px 20px #fca31195, 2px 2px 37px #a96c0a, -2px -2px 37px #a96c0a;
}
.viewText{
    color: #a96c0a;
    box-shadow: 2px 2px 1.5px 1px #d9d9d933;
    vertical-align: middle;
}
iframe{
    width: 100%;
    height: 315px;
    margin: 3vw auto;
}
.download{
    display: none;
}
/*footer styling*/

span{
    font-weight: bold;
}
.appBox img{
     height: 150px;
     width: 150px;
}
.appBox p{
    border-left: 3px solid #fca311;
    padding-left: 0.5vw;
}
.appBox{
    margin: 0;
    padding: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    justify-items: space-between;
    gap: 6vw;
}
/* General styling */
.selected {
    background-color: #a96c0a;
}
div, li, h1, h2, h3, h4, p{
    padding: 0.05vw;
    margin: 0.5vw 0.25vw;
}
ul{
    margin-left: 6vw;
}
aside ul{
    margin-left: 0;
}
header div, header li, header h1, header p, header h2, header h3, footer div, footer li, footer h1, footer h2, footer p, footer h3 {
    margin: 0;
    padding: 0;
}
@media only screen and (min-width:768px){
    ul{
        margin-left: 3vw;
    }    
    .menu{
        display: none;
    }
    .videos{
        width: 100%;
        height: 400px;
    }
    
    body{
        width: 100%;
        background-color: #ffffff;
        display: grid;
        grid-template-areas: 
        'header header header header header'
        'aside aside main main main'
        'aside aside main main main'
        'aside aside main main main'
        'aside aside main main main'
        'aside aside main main main'
        'aside aside footer footer footer';
    }
    main{
        width: 75%;
        margin-left: 25%;
        margin-bottom: 10vh;
        padding-left: 1vw;
    }
    aside{
        height: 90vh;
        position: fixed;
        margin-top: 13vh;
        background-color: #14213d;
        color: #ffffff;
        display: block;
        padding: 2vw 4vw;
        grid-area: aside;
        width: 22.5%;
        overflow-y: auto;
    }
    aside > div{
        padding: 0 0.5vw;
    }
    aside > div li{
        margin-top: 2vw;
    }
    .div-img-achieve{
        height: 60vh;
    }
    #getStartImg{
        height: 60vh;
    }
    #getStartHead{
        padding: 0;
    }
    .appBox img{
        height: 150px;
        width: 150px;
    }
    .appBox{
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
    .hover{
        display: none;
    }
    iframe{
        width: 80%;
        height: 400px;
    }
    .download{
        display:  inline-block;
        align-self: center;
    }
    .downloadBox img{
        height: 1.5vw;
        width: 1.5vw;
    }
    .download a{
        text-decoration: none;
    }
    .downloadBox{
        background: #fca311;
        color: #ffffff;
        padding: 0.5vw 1vw;
        width: 12vw;
        height: 5vh;
        display:flex;
        gap: 0.5vw;
        align-items: center;
        justify-content: center;
        position: relative;
        text-align: center;
        vertical-align: middle;
        z-index: 2;
    }
    .downloadcta{
        background: #ffffff;
        border: 1px solid #fca311;
        top: 6vh;
        position: relative;
        left: 0.5vw;
        width: 12vw;
        height: 5vh;
        z-index: 1;
    }
    footer {
        width: 75%;
        margin-left: 23.5%;
    }
}