@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    background-color: #ffffff;
    font-size: 16px;
    position: relative;
}
p, div{
    font-family: "Poppins", sans-serif;
}
h1,h2, h3, h4, h5, a{
    font-family: "Michroma", sans-serif;
}
main{
    position: relative;
    top: 10vh;
    margin-bottom: 15vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5vh;
}
/*hero section styling*/
#hero{
    height: 60vh;
    width: 100%;
    padding: 0 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heroSlide{
    height: 100%;
    top: 22vh;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2vw;
}
.outerCircle{
    height: 100%;
    width: 90%;
    border-radius: 48%;
    grid-column: 1/3;
    grid-row: 1/2;
    z-index: 0;
    margin: 0 auto;
}
.innerCircle{
    height: 98%;
    width: 88%;
    border-radius: 48%;
    grid-column: 1/3;
    grid-row: 1/2;
    z-index: 1;
    margin: 0 auto;
}
.group{
    height: 90%;
    width: 60%;
    grid-column: 1/3;
    grid-row: 1/2;
    justify-self: center;
    align-self: center;
    z-index: 2;
    border-radius: 40%;
}

.textDiv{
    display: flex;
    flex-direction: column;
    z-index:3;
}
.container{
    grid-column: 1/3;
    grid-row: 2/3;
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.heroText{
    font-size: 18px;
    align-self: center;
}
.span{
    font-size: 30px;
    font-weight: bold;
    align-self: center;
    font-family: "Michroma", sans-serif;
}
.callAction{
    padding: 10px 20px;
    text-align: center;
    color: #ffffff;
    z-index: 3;
}

/*department block styling*/
#dept{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 50px;
    padding: 5vw 5vw 0;
}
#group{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: space-between;
    width: 100%;
}
.deptBox{
    width: 90%;
    border-radius: 5vw 5vw 0 0;
    background-color: #ffffff;
    box-shadow: 4px 3px 2px 1px #e5e5e5;
    align-self: center;
}
.deptText{
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding: 3vw;
}
.deptText article{
    font-size: 14px;
}
.deptBox img{
    width: 100%;
    height: 50%;
    border-radius: 5vw 5vw 0 0;
}
/*service offers sections*/
#service{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-top: 10vw;
    gap: 10vw;
    width: 100%;
}
#offers{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 8vw;
}
.serve{
    background-color: #000000;
    padding: 5vw;
    color: #ffffff;
    display: flex;
    width: 75%;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    font-size: 14px;
    gap: 5vw;
}
.serveButton{
    background-color: #fca311;
    box-shadow: 3px 3px #ffffff;
    padding: 5px 10px;
    font-weight: bold;
}
#serveAction{
    background-color: #14213d;
    box-shadow: 3px 3px #fca311;
    color: #ffffff;
    align-self: center;
    font-weight: bold;
    padding: 10px 20px;
    position: relative;
}
/*About section styling*/
#aboutSection{
    position: relative;
    margin-top: 20vw;
    width: 100%;
}

#whyUs{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
#whyUs img{
    grid-column: 1/6;
    grid-row: 1/4;
    width: 100%;
    margin: 0;
    display: inline-grid;
    height: 30vh;
}
#whyUs h2{
    grid-column: 2/6;
    grid-row: 2/3;
    align-self: center;
    color: #ffffff;
    font-weight: bold;
    font-size: 32px;
}
#about{
    padding: 20vw 15vw;
    background-color: #000000;
    color: #ffffff;
}
#about p{
    font-size: 16px;
    font-weight: bold;
}
/*contact section styling*/
#contact{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 3vw;
    margin-bottom: 15vh;
    padding: 2vw 1vw;
}
form{
    
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 3fr 1fr;
    gap: 2vh;
}
input, textarea{
    width: 70%; 
    background-color: #000000;
    color: #e5e5e5;
    padding: 1vw;
    margin: 0 auto;
}
#userName{
    grid-column: 1/2;
    grid-row: 1/2;
}
#userEmail{
    grid-column: 1/2;
    grid-row: 2/3;
}
#userPhone{
    grid-column: 1/2;
    grid-row: 3/4;
}
#userMessage{
    grid-column: 1/2;
    grid-row: 4/5;
}
#userSubmit{
    grid-column: 1/2;
    grid-row: 5/6;
    border: 0;
    font-weight: bold;
    background-color: #fca311;
    color: #ffffff;
    box-shadow: 3px 3px #000000;
}
/*Ai pop up and button styling*/
#chatGPT, #geminiAI{
    width: 80vw;
    height: 70vh;
    position: fixed;
    top: 15vh;
    left: 10vw;
    z-index: 4;
    background-color: #ffffff;
    border-radius: 1vw;
    padding: 2vw;
    display: none;
}
.close{
    border-radius: 50%;
    background-color: red;
    padding: 1px;
    text-align: center;
    vertical-align: center;
    margin: 0.5vw;
    position: relative;
    float: right;
    cursor: default;
    display: inline;
}
.frameBox{
    height: 100%;
}
.aiText{
    display: inline-block;
    position: relative;
}
#chatgpt, #gemini{
    height: 90%;
    width: 100%;
}
#ai{
    height: 14vh;
    width: 10vw;
    position: fixed;
    bottom: 5vh;
    right: 5vw;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: center;
}
.aiDiv{
    background-color: #14213d;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 14vw;
    width: 14vw;
    border-radius: 50%;
}
#ai img{
    width: 80%;
    height: 80%;
    margin: 0 auto;
}
.popUp{
    display: none;
    width: 10vw;
    height: 10vw;
    border-radius: 1vw;
}
.active{
    display: flex;
}
@media only screen and (min-width:768px){
    main{
        top: 15vh;
    }
    #hero{
        position: relative;
        margin-top: 0;
    }
    .heroSlide{
        display: grid;
        grid-template-columns: 1fr 0.5fr 1fr;
        grid-template-rows: 1fr;
        justify-content: space-between;
        width: 90%;
    }
    .outerCircle{
        grid-column: 2/4;
        width: 80%;
    }
    .innerCircle{
        grid-column: 2/4;
        width: 78%;
    }
    .group{
        grid-column: 2/4;
        grid-row: 1/2;
        justify-self: center;
    }
    .container{
        grid-column: 1/3;
        grid-row: 1/2;
        justify-self: self-start;
        gap: 30px;
        margin-right: 30vw;
        width: 90%;
    }
    .heroText{
        font-size: 36px;
        align-self: flex-end;
    }
    .span{
        font-size: 60px;
        align-self: stretch;
    }
    #group{
        flex-direction: row;
        gap: 30px;
        justify-content: space-between;
        width: 95%;
    }
    #dept{
        margin-top: 10vw;
    }
    .deptBox{
        width: 25%;
        border-radius: 0 2vw 0 2vw;
        box-shadow: 4px 3px 2px 1px #e5e5e5;
    }
    .deptText{
        padding: 1vw 1.5vw;
    }
    .deptText article{
        font-size: 1vw;
    }
    .deptBox img{
        border-radius: 0 2vw 0 0;
    }
    #service{
        
        gap: 5vw;
    }
    #offers{
        flex-direction: row;
        width: 75%;
        align-items: center;
        gap: 0;
    }
    .serve{
        width: 33%;
        border-radius: 3vw;
        font-size: 1vw;
        padding: 2vw 1vw;
        gap: 1.5vw;
    }
    #middle{
        width: 29%;
    }
    #serveAction{
        align-self: flex-end;
        margin-right: 20vw;
    }
    #whyUS{
        grid-template-rows: 1fr 1fr 1fr 1fr;
        
    }
    #whyUs img{
        grid-row: 1/5;
        height: 60vh;
    }
    #whyUs h2{
        grid-column: 4/6;
        font-size: 60px;
        align-self: self-end;
    }
    #about{
        padding: 10vw 25vw;
        background-color: #ffffff;
        color:#000000;
    }
    #about p{
        font-size: 36px;
    }
    form{
        
        width: 80%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        align-items: unset;
    }
    input{
        justify-self: self-end;
    }
    input, textarea{
        width: 80%; 
        margin: 0;
    }
    #userName{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    #userEmail{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    #userPhone{
        grid-column: 1/2;
        grid-row: 3/4;
    }
    #userMessage{
        grid-column: 2/3;
        grid-row: 1/4;
    }
    #userSubmit{
        grid-column: 1/3;
        grid-row: 4/5;
        width: 20%;
        align-self: center;
        margin: 0 auto;
    }
    
    #chatGPT, #geminiAI{
        width: 40vw;
        height: 90vh;
        top: 5vh;
        left: 30vw;
        padding: 1vw;
    }
    #ai{
        height: 14vh;
        width: 5vw;
        bottom: 10vh;
        right: 1vw;
        gap: 20px;
    }
    .aiDiv{
        height: 5vw;
        width: 5vw;
        border-radius: 0.5vw;
    }
    .textDiv{
        margin-right: 5vw;
    }
    .popUp{
        width: 3vw;
        height: 3vw;
        border-radius: 0.3vw;
    }
}